 
    <!-- footer section start -->
    <footer class="footer ">
        <div class="footer__top">
            <div class="container">
                <div class="row mb-none-30">
                    <div class="col-lg-6 col-sm-8 mb-50">
                        <div class="footer-widget">
                            <a href="/"><img class="mb-4" src="../static/images/logo.png" alt="image"></a>
                            <p>Playlab has a broad library of highlight films, narratives, TV shows, anime, and so on! Watch as much as you want, whenever you need it at any time. LabFlix is an American over-the-top content platform streaming service and production company headquartered in Los Gatos, California</p>
                            <ul class="social-links mt-3">
                                                                <li><a href="https://www.linkedin.com/"><i class="lab la-linkedin"></i></a></li>
                                                                <li><a href="https://www.instagram.com/"><i class="lab la-instagram"></i></a></li>
                                                                <li><a href="https://www.twitter.com/"><i class="lab la-twitter"></i></a></li>
                                                                <li><a href="https://www.facebook.com/"><i class="lab la-facebook-f"></i></a></li>
                                                        </ul>
                        </div><!-- footer-widget end -->
                    </div> 
                    <div class="col-lg-6 col-sm-8 mb-50">
                        <div class="footer-widget">
                            <h4 class="footer-widget__title">Subscribe To News Letter</h4>
                            <p>Please Subscribe For Getting Updated With Us.</p>
                            <form class="subscribe-form mt-3">
                                <input type="hidden" name="_token" value="rrGxqMAHH9IfPbkl3sLLX5Tcv8IJejdw8yxvqgGk">                            <input name="email" type="email" placeholder="Email Address">
                                <button type="submit"><i class="fas fa-paper-plane"></i></button>
                            </form> 
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- footer__top end -->
        <div class="footer__bottom">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 text-md-left text-center">
                        <p>All rights &amp; Copy right reserved by <a href="https://script.viserlab.com/playlab/demo"></a></p>
                    </div>
                    <div class="col-md-6 mt-md-0 mt-3">
                        <ul class="links justify-content-md-end justify-content-around">
                                                        <li><a href="../company-policy/48/privacy-and-policy.html">Privacy and Policy</a></li>
                                                        <li><a href="../company-policy/47/terms-and-condition.html">Terms and Condition</a></li>
                                                </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>

 