<!doctype html>
<html lang="en" itemscope itemtype="http://schema.org/WebPage">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="csrf-token" content="rrGxqMAHH9IfPbkl3sLLX5Tcv8IJejdw8yxvqgGk">
    <title>SoloNaija- View Movie</title>
    <meta name="title" Content="PlayLab - Movie Details">

    <meta name="description" content="Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 20...">
    <meta name="keywords" content="PlayLab,Movie,Movie Platform,Video On-Demand Movie Streaming Platform">
     <!-- <link rel="shortcut icon" href="../static/assets/images/logoIcon/favicon.png" type="image/x-icon"> -->

    
    <!-- <link rel="apple-touch-icon" href="../static/assets/images/logoIcon/logo.png"> -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="PlayLab - Movie Details">
    
    <meta itemprop="name" content="PlayLab - Movie Details">
    <meta itemprop="description" content="Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 20...">
    <meta itemprop="image" content="https://script.viserlab.com/playlab/demo/assets/images/item/landscape//2022/07/05/62c4118d51b7c1657016717.jpg">
    
    <meta property="og:type" content="website">
    <meta property="og:title" content="Thor - 2011">
    <meta property="og:description" content="Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 20...">
    <meta property="og:image" content="https://script.viserlab.com/playlab/demo/assets/images/item/landscape//2022/07/05/62c4118d51b7c1657016717.jpg"/>
    <meta property="og:image:type" content="jpg"/>
    <meta property="og:image:width" content="900" />
    <meta property="og:image:height" content="600" />
    <meta property="og:url" content="https://script.viserlab.com/playlab/demo/watch-video/1">
    
    <meta name="twitter:card" content="summary_large_image">
    <!-- <link type="image/png" href="../static/assets/images/logoIcon/favicon.png" rel="icon" sizes="16x16"> -->
    <!-- bootstrap 4  -->
    <link href="../static/assets/global/css/bootstrap.min.css" rel="stylesheet">
    <link href="../static/assets/global/css/all.min.css" rel="stylesheet">
    <link href="../static/assets/global/css/line-awesome.min.css" rel="stylesheet" />
    <link href="../static/assets/global/css/global.css" rel="stylesheet" />

    <!-- image and videos view on page plugin -->
    <link href="../static/assets/templates/labflix/css/lightcase.css" rel="stylesheet">
    <link href="../static/assets/templates/labflix/css/vendor/animate.min.css" rel="stylesheet">
    <link href="../static/assets/templates/labflix/css/vendor/nice-select.css" rel="stylesheet">
    <link href="../static/assets/templates/labflix/css/vendor/slick.css" rel="stylesheet">
    <link href="../static/assets/global/css/videojs/video.min.css" rel="stylesheet">
    <link href="../static/assets/templates/labflix/css/main.css" rel="stylesheet">
    <link href="../static/assets/templates/labflix/css/custom.css" rel="stylesheet">
    <link href="../static/assets/templates/labflix/css/color.php%3Fcolor=D50055&amp;secondColor=1B1B3F.css" rel="stylesheet">
                    <style>
            .video-show {
                display: block;
            }

            .video-hide {
                display: none;
            }
        </style>
    </head>

<body > 

    <div class="page-wrapper" id="main-scrollbar" data-scrollbar>

            <!-- header-section start  -->

<header class="header">
    <div class="header__bottom">
        <div class="container-fluid p-0">
            <nav class="navbar navbar-expand-xl align-items-center p-0">
                <a class="site-logo site-title" href="https://script.viserlab.com/playlab/demo"><img src="../static/images/logo.png" alt="site-logo"><span class="logo-icon"><i class="flaticon-fire"></i></span></a>
                <button class="navbar-toggler ml-auto" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" type="button" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="menu-toggle"></span>
                </button>
                <div class="navbar-collapse collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav main-menu ms-xl-5 mx-auto">
                        <li><a href="https://script.viserlab.com/playlab/demo">Home</a></li>
                                                                                    <li class="menu_has_children">
                                    <a href="/movie">Movies</a>
                                    <ul class="sub-menu">
                                                                                    <li><a href="/movie">English</a></li>
                                                                                    <li><a href="/movie">Korean</a></li>
                                                                                    <li><a href="/movie">Hindi</a></li>
                                                                            </ul>
                                </li>  
                                 <li><a href="../live-tv.html">Blog News</a></li>
                                                    <li><a href="../contact.html">Contact</a></li>

                                <li class="mx-auto my-auto d-none d-sm-none d-md-none d-lg-block"><input placeholder="search movie of choice..." style="width: 350px; border: 1px solid #6499E9;" value=""><li>
                                            </ul>
                    <div class="nav-right d-flex ml-auto flex-wrap gap-4"> 
                                                    <a href="../user/dashboard.html"><i class="las la-sign-in-alt"></i> Login</a>
                            <a href="../user/register.html"><i class="las la-user-plus"></i> Registration</a>
                                                                                                                    <!-- <select class="language-select langSel" id="langSel">
                                                                            <option value="en"  selected >English</option>
                                                                            <option value="hi" >Hindi</option>
                                                                            <option value="bn" >Bangla</option>
                                                                    </select> -->
                                                    </div>
                    </div>
                </nav>
            </div>
        </div>
        <div class="mx-auto col-lg-10 text-center d-lg-none" style="margin-bottom: 3px;"><input placeholder="search movie of choice..." style="width: 350px; border: 1px solid #6499E9;" value=""></div>
                  
    </header>
    <!-- header-section end  --> 
    <!-- header-section end  -->    
        <div class="pt-80 pb-80">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="movie-single-video video-show " id="video_container">
                        <video class="video-js" id="my-video" data-setup="{}" controls preload="auto" height="264" poster="../static/assets/images/item/landscape/2022/07/05/62c4118d51b7c1657016717.jpg" controlsList="nodownload">
                                                            <source src="../static/assets/videos/2022/11/15/637380a571f0b1668513957.mp4" type="video/mp4" />
                                <p class="vjs-no-js">
                                    To view this video please enable JavaScript, and consider upgrading to a  web browser that                                    <a href="https://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
                                </p>
                                                                                                                            <track srclang="en" src="https://script.viserlab.com/playlab/demo/assets/subtitles/63d242cb5eb301674724043.vtt" label="English" kind="subtitles" />
                                                                    <track srclang="es" src="https://script.viserlab.com/playlab/demo/assets/subtitles/63d242de4f0741674724062.vtt" label="Spanish" kind="subtitles" />
                                                                    <track srclang="hn" src="https://script.viserlab.com/playlab/demo/assets/subtitles/63d242f0a6e221674724080.vtt" label="Hindi" kind="subtitles" />
                                                                                    </video>
                    </div>
                                            <div class="video-hide movie-single-video" id="ads_video_container">
                            <video class="video-js" id="ad-video" data-setup="{}" controls preload="auto" height="264" controlsList="nodownload">
                                <source class="main-video" src="../static/assets/videos/2022/11/15/637380a571f0b1668513957.mp4" type="video/mp4" />
                                <p class="vjs-no-js">
                                    To view this video please enable JavaScript, and consider upgrading to a  web browser that                                    <a href="https://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
                                </p>
                            </video>
                            <button class="skipButton video-hide" id="skip-button" data-skip-time="0">Skip Ad</button>
                            <span class="advertise-text">Advertisement - <span class="remains-ads-time">00:52</span></span>
                        </div>
                                        <div class="movie-content">
                        <div class="movie-content-inner d-sm-flex justify-content-between align-items-center flex-wrap">
                            <div class="movie-content-left">
                                <h3 class="title">Thor - 2011</h3>
                                <span class="sub-title">Category : <span class="cat">Movie</span>
                                                                            Sub Category: English
                                                                    </span>
                            </div>
                            <div class="movie-content-right mt-sm-0 mt-3">
                                <div class="movie-widget-area align-items-center">
                                    <span class="movie-widget">
                                        <i class="lar la-star" style="color: yellow;"></i>
                                        <span>7.5</span>
                                    </span>
                                    <span class="movie-widget">
                                        <i class="lar la-eye " style="color: #2192FF"></i>
                                        <span>1999 views</span>
                                    </span>

                                    
                                    <span class="movie-widget addWishlist " data-id="1" data-type="item"><i class="fas fa-comment" style="color: green;"></i></span> 
                                </div> 

                            </div>
                        </div>
                        <p class="mt-3">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one.</p>
                    </div>

                    <div class="movie-details-content">
                        <div class="tab-content" id="myTabContent">
                            <div class="tab-pane fade show active" id="description" role="tabpanel" aria-labelledby="description-tab">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-lg-6">
                                                <h4 class="mb-3">Details</h4>
                                                <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one. Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one</p>
                                            </div>
                                            <div class="col-lg-6 mt-lg-0 mt-4">
                                                <h4 class="mb-3">Team</h4>
                                                <ul class="movie-details-list">
                                                    <li>
                                                        <span class="caption">Director:</span>
                                                        <span class="value">Onikesh Uttfol</span>
                                                    </li>
                                                    <li>
                                                        <span class="caption">Producer:</span>
                                                        <span class="value">Onikesh Uttfol</span>
                                                    </li>
                                                    <li>
                                                        <span class="caption">Cast:</span>
                                                        <span class="value">Chris Hemsworth,Natalie Portman,Taika Waititi,Tom Hiddleston,Idris Elba</span>
                                                    </li>
                                                    <li>
                                                        <span class="caption">Genres:</span>
                                                        <span class="value"></span>
                                                    </li>
                                                    <li>
                                                        <span class="caption">Language:</span>
                                                        <span class="value"></span>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <section class="movie-section pb-80">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="section-header">
                        <h2 class="section-title">Other Movies</h2>
                    </div>
                </div>
            </div>
            <div class="row justify-content-start mb-30-none">
                                    <div class="col-xxl-3 col-md-3 col-4 col-xs-6 mb-30">
                        <div class="movie-card "  data-text="Free" >
                            <div class="movie-card__thumb thumb__2">
                                <img src="../static/assets/images/item/portrait/t6HIqrRAclMCA60NsSmeqe9RmNV.jpg" alt="image">
                                <a class="icon" href="1208.html"><i class="fas fa-play"></i></a>
                            </div>
                        </div>
                    </div>
                                    <div class="col-xxl-3 col-md-3 col-4 col-xs-6 mb-30">
                        <div class="movie-card "  data-text="Free" >
                            <div class="movie-card__thumb thumb__2">
                                <img src="../static/assets/images/item/portrait/keGfSvCmYj7CvdRx36OdVrAEibE.jpg" alt="image">
                                <a class="icon" href="1207.html"><i class="fas fa-play"></i></a>
                            </div>
                        </div>
                    </div>
                                    <div class="col-xxl-3 col-md-3 col-4 col-xs-6 mb-30">
                        <div class="movie-card "  data-text="Free" >
                            <div class="movie-card__thumb thumb__2">
                                <img src="../static/assets/images/item/portrait/2022/07/06/62c58234611511657111092.jpg" alt="image">
                                <a class="icon" href="1206.html"><i class="fas fa-play"></i></a>
                            </div>
                        </div>
                    </div>
                                    <div class="col-xxl-3 col-md-3 col-4 col-xs-6 mb-30">
                        <div class="movie-card "  data-text="Free" >
                            <div class="movie-card__thumb thumb__2">
                                <img src="../static/assets/images/item/portrait/2022/07/06/62c581fe8b61f1657111038.jpg" alt="image">
                                <a class="icon" href="1205.html"><i class="fas fa-play"></i></a>
                            </div>
                        </div>
                    </div>
                                    <div class="col-xxl-3 col-md-3 col-4 col-xs-6 mb-30">
                        <div class="movie-card "  data-text="Free" >
                            <div class="movie-card__thumb thumb__2">
                                <img src="../static/assets/images/item/portrait/2022/07/06/62c581a168ef01657110945.jpg" alt="image">
                                <a class="icon" href="1204.html"><i class="fas fa-play"></i></a>
                            </div>
                        </div>
                    </div>
                                    <div class="col-xxl-3 col-md-3 col-4 col-xs-6 mb-30">
                        <div class="movie-card "  data-text="Free" >
                            <div class="movie-card__thumb thumb__2">
                                <img src="../static/assets/images/item/portrait/2022/07/06/62c58151eb42d1657110865.jpg" alt="image">
                                <a class="icon" href="1203.html"><i class="fas fa-play"></i></a>
                            </div>
                        </div>
                    </div>
                            </div>
        </div>
    </section>

    {% include 'footer.html' %}


<div class="modal fade" id="alertModal" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"> Subscription Alert!</h5>
                <button class="btn-close btn-close-white" data-bs-dismiss="modal" type="button" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <strong>Please subscribe a plan to view our paid items</strong>
            </div>
            <div class="modal-footer">
                <a class="cmn-btn w-100 text-center" href="../user/dashboard.html">Subscribe Now</a>
            </div>
        </div>
    </div>
</div>

        <div class="loading"></div>
    </div>

                <!-- cookies dark version start -->
        <div class="cookies-card hide text-center">
            <div class="cookies-card__icon bg--base">
                <i class="las la-cookie-bite"></i>
            </div>
            <p class="cookies-card__content mt-4">We may use cookies or any other tracking technologies when you visit our website, including any other media form, mobile website, or mobile application related or connected to help customize the Site and improve your experience. <a class="base--color" href="../cookie-policy.html" target="_blank">learn more</a></p>
            <div class="cookies-card__btn mt-4">
                <a class="cmn-btn w-100 policy" href="javascript:void(0)">Allow</a>
            </div>
        </div>

        <!-- cookies dark version end -->
        <!-- jQuery library -->
    <script src="../static/assets/global/js/jquery-3.6.0.min.js"></script>
    <script src="../static/assets/global/js/bootstrap.bundle.min.js"></script>
    <script src="../static/assets/global/js/global.js"></script>
    <script src="../static/assets/templates/labflix/js/vendor/lightcase.js"></script>
    <script src="../static/assets/templates/labflix/js/vendor/jquery.nice-select.min.js"></script>
    <script src="../static/assets/templates/labflix/js/vendor/slick.min.js"></script>
    <script src="../static/assets/templates/labflix/js/vendor/wow.min.js"></script>
    <script src="../static/assets/templates/labflix/js/jquery.syotimer.js"></script>
    <script src="../static/assets/templates/labflix/js/syotimer.lang.js"></script>
    <script src="../static/assets/templates/labflix/js/vendor/jquery.countdown.js"></script>
    <script src="../static/assets/templates/labflix/js/vendor/jquery.slimscroll.min.js"></script>
    <script src="../static/assets/templates/labflix/js/app.js"></script>
    <script src="../static/assets/global/js/videojs/video.min.js"></script>

    
        <script>
        (function($) {
            "use strict";

            document.onkeydown = function(e) {
                if (e.keyCode == 123) {
                    return false;
                }
                if (e.ctrlKey && e.shiftKey && e.keyCode == 'I'.charCodeAt(0)) {
                    return false;
                }
                if (e.ctrlKey && e.shiftKey && e.keyCode == 'J'.charCodeAt(0)) {
                    return false;
                }
                if (e.ctrlKey && e.keyCode == 'U'.charCodeAt(0)) {
                    return false;
                }

                if (e.ctrlKey && e.shiftKey && e.keyCode == 'C'.charCodeAt(0)) {
                    return false;
                }
            }

            var ads = JSON.parse(`{"0":"https:\/\/script.viserlab.com\/playlab\/demo\/assets\/images\/ads\/6373734de707c1668510541.mp4","89":"https:\/\/script.viserlab.com\/playlab\/demo\/assets\/images\/ads\/637373c365fe91668510659.mp4","144":"\/\/"}`);
            var skipTime = "5"

            var myVideo = videojs('my-video', {
                controlBar: {
                    skipButtons: {
                        forward: 5,
                        backward: 5
                    }
                },
                playbackRates: [0.5, 1, 1.5, 2],
            });

            myVideo.ready(function() {
                myVideo.play();
            });

            var currentTime = null;
            myVideo.on('firstplay', function() {
                var ad = ads[0];
                if (ad) playAds(ad);
            });

            myVideo.on('timeupdate', function(e) {
                var updatedTime = Math.floor(myVideo.currentTime());
                if (updatedTime > 0) {
                    var ad = null;
                    if ((updatedTime - currentTime) > 1) {
                        let timeIndex = currentTime;
                        currentTime = updatedTime
                        while (timeIndex <= updatedTime) {
                            ad = ads[timeIndex];
                            if (ad) break;
                            timeIndex++
                        }
                    } else if (currentTime !== updatedTime) {
                        currentTime = updatedTime
                        ad = ads[currentTime];
                    } else {
                        ad = null;
                    }
                    if (ad) playAds(ad);
                }
            });

            var updatedAdTime = 0;

            function playAds(ad) {
                myVideo.pause();
                var mainVideo = document.getElementById("video_container");
                var adsVideo = document.getElementById("ads_video_container");

                mainVideo.classList.add('video-hide');
                mainVideo.classList.remove('video-show');
                adsVideo.classList.add('video-show');
                adsVideo.classList.remove('video-hide');
                adVideo.src({
                    src: ad,
                    type: 'video/mp4'
                })

                if (myVideo.isFullscreen()) {
                    console.log(200)
                    adVideo.requestFullscreen();
                } else {}
                adVideo.play();

                $('.skipButton').data('skip-time', `${skipTime}`);
                adVideo.on('ended', function() {
                    adsVideo.classList.add("video-hide");
                    adsVideo.classList.remove("video-show");
                    mainVideo.classList.remove("video-hide");
                    mainVideo.classList.add("video-show");
                    adVideo.pause();
                    myVideo.play();
                    myVideo.setAttribute('autoplay', true)
                    document.getElementById('skip-button').classList.add('video-hide')
                })
            }
            var adVideo = videojs('ad-video');
            adVideo.controls(false)

            adVideo.on('timeupdate', function(e) {
                var currentAdTime = Math.floor(adVideo.currentTime());
                updatedAdTime = currentAdTime;
                var remainAdTime = toTime(adVideo.remainingTime());
                $('.remains-ads-time').text(remainAdTime);
                var skipTime = $('.skipButton').data('skip-time');
                if (skipTime > 0 && skipTime == updatedAdTime) {
                    $('.skipButton').removeClass('video-hide');
                }
            });

            function toTime(second) {
                var sec_num = parseInt(second, 10);
                var hours = Math.floor(sec_num / 3600);
                var minutes = Math.floor((sec_num - (hours * 3600)) / 60);
                var seconds = sec_num - (hours * 3600) - (minutes * 60);
                if (hours < 10) {
                    hours = "0" + hours;
                }
                if (minutes < 10) {
                    minutes = "0" + minutes;
                }
                if (seconds < 10) {
                    seconds = "0" + seconds;
                }
                if (hours > 0) {
                    return hours + ':' + minutes + ':' + seconds;
                }
                return minutes + ':' + seconds;
            }

            $('.skipButton').on('click', function() {
                var mainVideo = document.getElementById("video_container");
                var adsVideo = document.getElementById("ads_video_container");
                adsVideo.classList.add("video-hide");
                adsVideo.classList.remove("video-show");
                mainVideo.classList.remove("video-hide");
                mainVideo.classList.add("video-show");
                adVideo.pause();
                myVideo.play();
                myVideo.setAttribute('autoplay', true)
                document.getElementById('skip-button').classList.add('video-hide')
            });

        })(jQuery);
    </script>

    
    <link href="../static/assets/global/css/iziToast.min.css" rel="stylesheet">
<script src="../static/assets/global/js/iziToast.min.js"></script>

<script>
    "use strict";

    function notify(status, message) {
        if (typeof message == 'string') {
            iziToast[status]({
                message: message,
                position: "topRight"
            });
        } else {
            $.each(message, function(i, val) {
                iziToast[status]({
                    message: val,
                    position: "topRight"
                });
            });
        }
    }
</script>

    <script>
        (function($) {
            "use strict";
            $(".langSel").on("change", function() {
                window.location.href = "https://script.viserlab.com/playlab/demo/change/" + $(this).val();
            });

            var inputElements = $('input,select');
            $.each(inputElements, function(index, element) {
                element = $(element);
                element.closest('.form-group').find('label').attr('for', element.attr('name'));
                element.attr('id', element.attr('name'))
            });

            $('.policy').on('click', function() {
                $.get('https://script.viserlab.com/playlab/demo/cookie/accept', function(response) {
                    $('.cookies-card').addClass('d-none');
                });
            });

            setTimeout(function() {
                $('.cookies-card').removeClass('hide')
            }, 2000);

            var inputElements = $('[type=text],select,textarea');
            $.each(inputElements, function(index, element) {
                element = $(element);
                element.closest('.form-group').find('label').attr('for', element.attr('name'));
                element.attr('id', element.attr('name'))
            });

            $.each($('input, select, textarea'), function(i, element) {
                var elementType = $(element);
                if (elementType.attr('type') != 'checkbox') {
                    if (element.hasAttribute('required')) {
                        $(element).closest('.form-group').find('label').addClass('required');
                    }
                }
            });

            //Cookie
            $(document).on('click', '.acceptPolicy', function() {
                $.ajax({
                    url: "https://script.viserlab.com/playlab/demo/cookie/accept",
                    method: 'GET',
                    success: function(data) {
                        if (data.success) {
                            $('.cookie__wrapper').addClass('d-none');
                            notify('success', data.success)
                        }
                    },
                });
            });

            $('.subscribe-form').on('submit', function(e) {
                $.ajaxSetup({
                    headers: {
                        'X-CSRF-TOKEN': $('meta[name="csrf-token"]').attr('content')
                    }
                });
                e.preventDefault();
                var email = $('input[name=email]').val();
                $.post('https://script.viserlab.com/playlab/demo/subscribe', {
                    email: email
                }, function(response) {
                    if (response.errors) {
                        for (var i = 0; i < response.errors.length; i++) {
                            iziToast.error({
                                message: response.errors[i],
                                position: "topRight"
                            });
                        }
                    } else {
                        $('[name=email]').val('');
                        iziToast.success({
                            message: response.success,
                            position: "topRight"
                        });
                    }
                });
            });

            $(document).on("click", ".advertise", function() {
                var id = $(this).data('id');
                var url = "https://script.viserlab.com/playlab/demo/add-click";

                $.ajax({
                    headers: {
                        'X-CSRF-TOKEN': $('meta[name="csrf-token"]').attr('content')
                    },
                    url: url,
                    method: 'POST',
                    data: {
                        'id': id
                    },
                    success: function(data) {

                    },
                });
            });

            $(document).on('click', '.addWishlist', function() {
                let id = $(this).data('id');
                let type = $(this).data('type');
                let contentType = ['item', 'episode'];
                if (!contentType.includes(type) || !Number.isInteger(id)) {
                    notify('error', 'Invalid Request');
                    return;
                }
                let data = {};
                data.id = id;
                data.type = type;

                $.ajax({
                    headers: {
                        "X-CSRF-TOKEN": "rrGxqMAHH9IfPbkl3sLLX5Tcv8IJejdw8yxvqgGk",
                    },
                    type: "POST",
                    url: `https://script.viserlab.com/playlab/demo/wishlist/add`,
                    data: data,
                    success: function(response) {
                        if (response.status == 'success') {
                            notify('success', response.message);
                            $('.addWishlist').addClass('d-none');
                            $('.removeWishlist').removeClass('d-none');
                        } else {
                            notify('error', response.message);
                        }
                    }
                });
            });

            $(document).on('click', '.removeWishlist', function() {
                let id = $(this).data('id');
                let type = $(this).data('type');
                let contentType = ['item', 'episode'];
                if (!contentType.includes(type) || !Number.isInteger(id)) {
                    notify('error', 'Invalid Request');
                    return;
                }
                let data = {};
                data.id = id;
                data.type = type;

                $.ajax({
                    headers: {
                        "X-CSRF-TOKEN": "rrGxqMAHH9IfPbkl3sLLX5Tcv8IJejdw8yxvqgGk",
                    },
                    type: "POST",
                    url: `https://script.viserlab.com/playlab/demo/wishlist/remove`,
                    data: data,
                    success: function(response) {
                        if (response.status == 'success') {
                            notify('success', response.message);
                            $('.addWishlist').removeClass('d-none');
                            $('.removeWishlist').addClass('d-none');
                        } else {
                            notify('error', response.message);
                        }
                    }
                });
            });

            $('.trailerBtn').on('click', function() {
                var modal = $('#trailerModal');
                var html = `<source src="https://script.viserlab.com/playlab/demo/watch-video/${$(this).data('video')}" type="video/mp4" />`
                modal.find('video').attr('poster', $(this).data('poster'));
                modal.find('source').attr('src', $(this).data('video'));
                modal.modal('show');
            });

            $('.subscribe-alert').on('click', function() {
                var modal = $('#alertModal');
                modal.modal('show');
            });

            Array.from(document.querySelectorAll('table')).forEach(table => {
                let heading = table.querySelectorAll('thead tr th');
                Array.from(table.querySelectorAll('tbody tr')).forEach((row) => {
                    Array.from(row.querySelectorAll('td')).forEach((column, i) => {
                        (column.colSpan == 100) || column.setAttribute('data-label', heading[i].innerText)
                    });
                });
            });

        })(jQuery);
    </script>

    <script src="../static/assets/global/js/firebase/firebase-8.3.2.js"></script>

<script>

    "use strict";

    var permission = null;
    var authenticated = '';
    var pushNotify = 0;
    var firebaseConfig = {"serverKey":"AAAA14oqxFc:APA91bE9uJdrjU_FX3gg_EtCfApRqoNojV71m6J-9yCQC7GoL2pBFcN9pdJjLLQxEAUcNxxatfWKLcnl5qCuLsmpPdr_3QRtH9XzfIu1MrLUJU3dHkBc4CGIkYMM9EWgXCNFjudhhQmH","apiKey":"AIzaSyAFa29KVWMFvpvLnYOz_-K4xOqbSx9Ku3g","authDomain":"playlab-b6af0.firebaseapp.com","projectId":"playlab-b6af0","storageBucket":"playlab-b6af0.appspot.com","messagingSenderId":"925736027223","appId":"1:925736027223:web:a385db1794e61cfc7ecf12","measurementId":"G-5NPTB9V12K"};

    function pushNotifyAction(){
        permission = Notification.permission;

        if(!('Notification' in window)){
            notify('info', 'Push notifications not available in your browser. Try Chromium.')
        }
    }

    //If enable push notification from admin panel
    if(pushNotify == 1){
        pushNotifyAction();
    }

    // var firebaseConfig = {"apiKey":"AIzaSyDBFcpfEJW5ngWqJRQQQvzO_K7otHQxJTI","authDomain":"signal-lab-15d48.firebaseapp.com","projectId":"signal-lab-15d48","storageBucket":"signal-lab-15d48.appspot.com","messagingSenderId":"1055530026537","appId":"1:1055530026537:web:d2120f6794f20b69aebe38","measurementId":"G-HHN4CXM949","serverKey":"AAAA9cJ-Bik:APA91bGd21EtVi-gL71u7xPOYlo-YI3ADjrL6tO2KdFcDAuCj_CTXwERieMz7iPy-3b823HBt4bhrG2pWpxtIbyc40W1zkMd3jUiP9J7D6_VMzyuqrB19QyFJ4zgMPehuOV6tfrZC0m4"};

    //When users allow browser notification
    if(permission != 'denied' && firebaseConfig){

        //Firebase
        firebase.initializeApp(firebaseConfig);
        const messaging = firebase.messaging();

        navigator.serviceWorker.register("https://script.viserlab.com/playlab/demo/assets/global/js/firebase/firebase-messaging-sw.js")

        .then((registration) => {
            messaging.useServiceWorker(registration);

            function initFirebaseMessagingRegistration() {
                messaging
                .requestPermission()
                .then(function () {
                    return messaging.getToken()
                })
                .then(function (token){
                    $.ajax({
                        url: 'https://script.viserlab.com/playlab/demo/device/token',
                        type: 'POST',
                        data: {
                            token: token,
                            '_token': "rrGxqMAHH9IfPbkl3sLLX5Tcv8IJejdw8yxvqgGk"
                        },
                        success: function(response){
                            console.log(response);
                        },
                        error: function (err) {
                            console.log('User Chat Token Error'+ err);
                        },
                    });
                }).catch(function (error){
                    console.log(error);
                });
            }

            messaging.onMessage(function (payload){
                const title = payload.notification.title;
                const options = {
                    body: payload.notification.body,
                    icon: payload.notification.icon,
                    click_action:payload.notification.click_action,
                    vibrate: [200, 100, 200]
                };
                new Notification(title, options);
            });

            //For authenticated users
            if(authenticated){
                initFirebaseMessagingRegistration();
            }

        });

    }

</script>
    
    
<script>
  var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
  (function(){
    var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
    s1.async=true;
    s1.src='https://embed.tawk.to/5fe0b9b2a8a254155ab5421d/1eq2tap1m';
    s1.charset='UTF-8';
    s1.setAttribute('crossorigin','*');
    s0.parentNode.insertBefore(s1,s0);
  })();
</script>

<script>
if (window.top != window.self) {
    document.body.innerHTML += '<div style="position:fixed;top:0;width:100%;z-index:9999999;background:#f8d7da;color:#721c24;text-align:center; padding: 20px;"><p style="font-size:20px; font-weight: bold;">You are using this website under an external iframe!!</p><p style="font-size:16px; margin-top: 20px;">for a better experience, please browse directly instead of an external iframe.</p><a href="https://script.viserlab.com/playlab/demo/watch-video/'+window.self.location+'" target="_blank" style=" margin-top:20px; color: #fff;background-color: #dc3545; padding: 5px 10px; border-radius: 5px; text-decoration: none;">Browse Directly</a></div>';
}
</script>


<script>
    adroll_adv_id = "YXRNNTO7ZBAMFBH67UUE5M";
    adroll_pix_id = "MMQQDWGN25EXPHGRPA3NLR";
    adroll_version = "2.0";
    (function(w, d, e, o, a) {
        w.__adroll_loaded = true;
        w.adroll  = w.adroll  || [];
        w.adroll.f = [ 'setProperties', 'identify', 'track' ];
        var roundtripUrl = "https://s.adroll.com/j/" + adroll_adv_id
                + "/roundtrip.js";
        for (a = 0; a < w.adroll.f.length; a++) {
            w.adroll[w.adroll.f[a]] = w.adroll[w.adroll.f[a]] || (function(n) {
                return function() {
                    w.adroll.push([ n, arguments ])
                }
            })(w.adroll.f[a])
        }
        e = d.createElement('script');
        o = d.getElementsByTagName('script')[0];
        e.async  = 1;
        e.src  = roundtripUrl;
        o.parentNode.insertBefore(e, o);
    })(window, document);
    adroll.track("pageView");
</script>


<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-8940522890323334" crossorigin="anonymous"></script>

</body>

</html>
